body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:497px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:700px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:700px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:472px;
  background:inherit;
  background-color:rgba(91, 110, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:119px;
  width:265px;
  height:472px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:15px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:119px;
  width:265px;
  height:15px;
  text-align:right;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:134px;
  width:166px;
  height:70px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:134px;
  width:4px;
  height:70px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:134px;
  width:4px;
  height:70px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:202px;
  width:266px;
  height:20px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:372px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:221px;
  width:266px;
  height:372px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:202px;
  width:266px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
  background:inherit;
  background-color:rgba(91, 110, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:134px;
  width:50px;
  height:68px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:152px;
  width:31px;
  height:30px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:68px;
  background:inherit;
  background-color:rgba(91, 110, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:134px;
  width:50px;
  height:68px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:161px;
  width:32px;
  height:14px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:70px;
  background:inherit;
  background-color:rgba(216, 27, 51, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:134px;
  width:158px;
  height:70px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:158px;
  word-wrap:break-word;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:232px;
  width:246px;
  height:34px;
  text-align:center;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:288px;
  width:246px;
  height:34px;
  text-align:center;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u1298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:343px;
  width:249px;
  height:91px;
  text-align:center;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:249px;
  word-wrap:break-word;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:454px;
  width:246px;
  height:70px;
  text-align:center;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
